<ion-header>
</ion-header>
  
  <ion-content>
    <div class="serviceTop">
      <div class="top">
        <div class="iconTop">
          <img src="assets/icon-immunity-passport.jpg" alt="">
          <span>{{nameCredential}}</span>
        </div>
        <div class="toolbar">
          <ul>
            <li (click)="checkResult('hard')">Hard Verification</li>
            <li (click)="checkResult('light')">Light Verification</li>
            <li (click)="applyForm()">Application Form</li>
          </ul>
        </div>
      </div>

    <div style="text-align: center;" class="finishImg">
      <p class="title">{{nameCredential}} Verification Details</p>
      <img src="assets/success.svg">
    </div>

    <div class="infoAccount">
      <div class="formContent">
        <h4>Your Personal Information</h4>
        <ion-card >
            <ion-input >
              <div class="inlineField">First Name</div>  
              <div class="inlineField rightField">: {{fname}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Last Name</div>  
              <div class="inlineField rightField">: {{lname}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Date of Birth</div>  
              <div class="inlineField rightField">: {{birth}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Address</div>  
              <div class="inlineField rightField">: {{address}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Phone Number</div>  
              <div class="inlineField rightField">: {{phoneNumber}}</div> 
            </ion-input>
            <ion-input >
              <div class="inlineField">Email</div>  
              <div class="inlineField rightField">: {{email}}</div> 
            </ion-input>
        </ion-card>
      </div>
    </div>
    <div class="infoAccount">
      <div class="formContent">
        <h4> Your {{nameCredential}} Information </h4>
        <ion-card >    
          <ion-input >
            <div class="inlineField">Vaccine</div>  
            <div class="inlineField rightField">: {{vaccine}}</div> 
          </ion-input>
          <ion-input>      
            <div class="inlineField">Date given</div>
            <div class="inlineField rightField">: {{date}}</div> 
          </ion-input>
          <ion-input>                            
            <div class="inlineField">Doctor Office or Clinic</div>
            <div class="inlineField rightField">: {{clinic}}</div>
          </ion-input>  
          <ion-input>
            <div class="inlineField">Next dose due</div>
            <div class="inlineField rightField">: {{dose}}</div>
          </ion-input>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
  