<ion-header>
  </ion-header>
  
  <ion-content>
    <div class="serviceTop">
      <div class="top">
        <div class="iconTop">
          <img src="assets/icon-immunity-passport.jpg" alt="">
          <span>Immunity Passport</span>
        </div>
        <div class="toolbar">
          <ul>
            <li (click)="checkResult('hard')">Hard Verification</li>
            <li (click)="checkResult('light')">Light Verification</li>
            <li (click)="applyForm()">Application Form</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="leftMain">
      <p class="tableTitle">Personal Information</p>

      <div class="infoAccount">
        <div class="formContent">
          <fieldset class="inlineField">
            <legend> First Name </legend>
            <ion-input disable=true>{{fname}}</ion-input>
          </fieldset>
    
          <fieldset class="inlineField rightField">
            <legend> Last Name </legend>
            <ion-input disable=true>{{lname}}</ion-input>
          </fieldset>
          
          <fieldset>
            <legend> Date of Birth </legend>
            <ion-input disable=true>{{birth}}</ion-input>
          </fieldset>
    
          <fieldset>
            <legend> Address </legend>
            <ion-input disable=true>{{address}}</ion-input>
          </fieldset>
    
          <fieldset>
            <legend> Phone Number </legend>
            <ion-input disable=true>{{phoneNumber}}</ion-input>
          </fieldset>
    
          <fieldset>
            <legend> Email </legend>
            <ion-input disable=true>{{email}}</ion-input>
          </fieldset>

        </div>
      </div>
    </div>

    <div class="main">
      <p class="tableTitle">Requested contain</p>
      <div class="infoAccount">
        <div class="formContent">

          <fieldset >
            <legend> Vaccine </legend>
            <ion-select interface="popover" [(ngModel)]="vaccine">
              <ion-select-option value="COVID-19-Type A">COVID-19-Type A</ion-select-option>
              <ion-select-option value="COVID-19-Type B">COVID-19-Type B</ion-select-option>
            </ion-select>
          </fieldset>
    
          <fieldset >
            <legend> Date given</legend>
            <input [(ngModel)]="date" type="date" data-date="" data-date-format="DD MMMM YYYY">
          </fieldset>
          <div style="clear: both;"></div>
          <fieldset >
            <legend> Doctor Office or Clinic </legend>
            <ion-input [(ngModel)]="clinic"></ion-input>
          </fieldset>
    
          <fieldset >
            <legend> Next dose due </legend>
            <ion-input [(ngModel)]="dose"></ion-input>
          </fieldset>

          <div class="checkBox">
            <ion-checkbox class="checkbox-square" [(ngModel)]="aggree"></ion-checkbox>
            <p>I have read, understood and agree to be bound by all relevant <span style="color:#1F83FF">terms and conditions</span>.</p>
          </div>
        </div>
      </div>
    </div>

    <div style="clear: both;"></div>

    <div class="qrCode" *ngIf="img" (click) = "deeplink('credential')">
      <!-- <img src="assets/empty.png" alt="" *ngIf="!img">
      <img src="assets/proximax-logo.svg" class="logoProximax" *ngIf="!img"> -->
      <img [src]="img">
    </div>
    
    <div style="text-align: center;margin: 40px;" *ngIf="flag" (click)="createCredential()" class="btnContinue">
      <ion-button mode="ios" style="--background: #29A889;--background-hover:rgb(40, 32, 196);--background-focused:rgb(40, 32, 196)">Submit and Generate QR Code</ion-button>
    </div>
    <div class="scanText btnContinue" style="text-align: center;margin: 40px;" *ngIf="!flag" (click)="welcome()">
      <ion-button mode="ios" style="--background: #2F25DE;--background-hover:rgb(40, 32, 196);--background-focused:rgb(40, 32, 196)">After scanning QR code, click here to continue</ion-button>
    </div>

    <p class="deeplink" style="text-align: center;">Click on QR Code to open your SiriusID App</p>
    <div class="deeplink btnContinue" style="text-align: center;margin: 40px;" *ngIf="!flag" (click)="welcome()">
      <ion-button mode="ios" style="--background: #2F25DE;--background-hover:rgb(40, 32, 196);--background-focused:rgb(40, 32, 196)">CONTINUE</ion-button>
    </div>
    <!-- <p>Scan the QR Code with SiriusID App</p> -->

  </ion-content>
  